Contact
<h>This is the contact page, please contact us.</h>
<form action="/process" method="POST">
    <label for="firstname">
        First Name:
    </label>
    <input type-"text" id="firstname" name="firstname">
    <label for="lasttime">
        Last name:
    </label>
    <input type="text" id="lastname" name="lastname">



</form>